
:root {
    --bg-offset: 0%;
}

@font-face {
    font-family: "Omori";
    src: url("/fonts/omori_normal.ttf") format("truetype");
    font-smooth: never;
    -webkit-font-smoothing : none;
}


@font-face {
    font-family: "Discord";
    src: url("/fonts/discord.woff") format("woff");
}

@font-face {
    font-family: "Discord-light";
    src: url("/fonts/discord-light.woff") format("woff");
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body > div {
    height: auto;
    padding: 50px;
    display: flex;
    image-rendering: pixelated;
    background-position: var(--bg-offset) 0;
    background-repeat: repeat;
    -webkit-background-size: cover;
    background-size: cover;

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#title {
    line-height: .5;
    flex: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 10px;
}

#title img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 999px;
    padding: 2px;
    border: 3px solid rgb(110, 255, 161);
}

#title h1 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-family: Omori;
}

body > div > div {
    width: 60%;
    margin: auto auto;
    background-color: #2C2F33;
    border-radius: 3px;
    color: rgb(220, 221, 222);
    font-family: 'Discord';
}

table {
    width: 80%;
    margin: auto auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

th {
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    padding-bottom: 8px;
}

tr:nth-of-type(n+2) {
    background-color: #23272A;
}

tr td:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 8px;
}

tr td:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 8px;
}
